@import './carrousel.multiple.css';
@import './customers.css';
@import './fonts/fonts.css';
@import './drawer.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
    background-color: #111111;
}

.color-secondary {
    color: #d1b332;
}

.main-sidebar {
    /* background-color: #111111 !important; */
}

.table-raffles th {
    /* background-color: #111111 !important;
    color: #d1b332; */
}

.nav-link {
    color: #d1b332;
}

.content-wrapper {
    background-color: white !important;
}

.table-responsive th {
    background-color: #314b91;
    color: white;
}

/* Estilo para los campos de entrada deshabilitados */
input:disabled {
    background-color: #FFF !important; /* Color de fondo estándar */
    color: #6c757d; /* Color de texto estándar */
    border-color: #ced4da; /* Color de borde estándar */
    cursor: not-allowed; /* Cambiar el cursor para indicar que está deshabilitado */
    opacity: 1; /* Asegurarse de que no se vea desvanecido */
}

.text-darkslategrey {
    color: darkslategrey;
}

input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h3 {
    font-size: 1.5rem !important;
}

hr {
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

.p-drawer-content {
    padding: 0 !important;
}

.p-datepicker-panel {
    z-index: 9999 !important;
}

.p-multiselect-label .p-chip {
    background-color: #02afef !important;
    color: white !important;
}

.p-multiselect-label .p-chip svg {
    color: orangered !important;
}

/* .personali {
    background-color: white !important;
} */
/* 
.p-inputtext {
    background-color: white !important;
    color: black !important;
    border-color: #ced4da !important;
}

.p-select-list-container {
    background-color: white !important;
    border-color: white !important;
}

.p-select-option {
    color: black !important;
}

.p-select {
    background-color: white !important;
}

.p-select-option:hover {
    background-color: #d1b332 !important;
}

.p-datepicker-panel {
    z-index: 9999 !important;
}

.p-datepicker-input {
    border-color: #ced4da !important;
}

.p-select-overlay {
    z-index: 9999 !important;
}

.p-select-label {
    color: black !important;    
    padding: 0 !important;
}

.p-button {
    border-radius: 18px !important;
    min-width: 13.5em !important;
    background-color: #314b91 !important;
    color: white !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border: none;
} */