@import './carrousel.multiple.css';
@import './customers.css';
@import './fonts/fonts.css';

.main-background {
    background-color: #111111;
}

.color-secondary {
    color: #d1b332;
}

.main-sidebar {
    /* background-color: #111111 !important; */
}

.table-raffles th {
    /* background-color: #111111 !important;
    color: #d1b332; */
}

.nav-link {
    color: #d1b332;
}

.content-wrapper {
    background-color: white !important;
}

th {
    background-color: #314b91;
    color: white;
}

/* Estilo para los campos de entrada deshabilitados */
input:disabled {
    background-color: #FFF !important; /* Color de fondo estándar */
    color: #6c757d; /* Color de texto estándar */
    border-color: #ced4da; /* Color de borde estándar */
    cursor: not-allowed; /* Cambiar el cursor para indicar que está deshabilitado */
    opacity: 1; /* Asegurarse de que no se vea desvanecido */
}

.text-darkslategrey {
    color: darkslategrey;
}